@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@400;500;600;700;800&display=swap');

:root{
      /* ===== Cores Principais ===== */
    --cor-primaria: #256CF2;
    --cor-primaria-hover: #1C4FE9;

    --cor-secundaria: #2931DA;
    --cor-secundaria-hover: #272fbe;

    /* ===== Fundo ===== */
    --cor-fundo: #F8F9FE;
    --cor-card: #FFFFFF;

    /* ===== Textos ===== */
    --cor-titulo: #111827;
    --cor-texto: #374151;
    --cor-texto-footer: #D1D5DB;
    --cor-texto-menu: #e9e8e8;

    /* ===== Bordas ===== */
    --cor-borda: #d9dbdd;
    --cor-borda-hover: #BFDBFE;

    /* ===== Categorias ===== */
    --cor-categoria-ativa: #DBEAFE;


    /* ===== Geral ===== */
    --cor-geral-claro: #DBEAFE;
    --cor-geral: #3B82F6;
    --cor-sombra-geral: #b7c5d8;

    /* ===== Cursos ===== */
    --cor-cursos-claro: #E6EEFD;
    --cor-cursos: #2563EB;
    --cor-sombra-cursos: #bfc9db;

    /* ===== Certificados ===== */
    --cor-certificados-claro: #EFEEFE;
    --cor-certificados: #7C3AED;
    --cor-sombra-certificados: #c8c7e0;

    /* ===== Pagamentos ===== */
    --cor-pagamentos-claro: #E5F7F3;
    --cor-pagamentos: #0D9488;
    --cor-sombra-pagamentos: #c5ddd8  ;

    /* ===== Suporte ===== */
    --cor-suporte-claro: #FFF3E9;
    --cor-suporte: #F59E0B;
    --cor-sombra-suporte: #e0d2c7;

    /* ===== Rodapé ===== */
    --cor-footer: #152750;

    /* ===== Ícones ===== */
    --cor-icone: #3B82F6;
    --cor-icone-fundo: #DBEAFE;

    --cor-transparente: #ffffff00;

    /* ===== Fontes ===== */
    --font-titulo: 'Montserrat', sans-serif;
    --font-texto: 'Lato', sans-serif;

    --outline-focus: 2px solid var(--cor-primaria);
    --outline-focus-menu: 2px solid var(--cor-borda);

    --transform-link: translateX(5px) translateY(-2px);
    --transform-botao: translateY(5px);
    --transform-pequeno: translateY(-2px);
    --transform-pequeno-post: translateY(2px);
    --transform-details: translateY(-5px);
    --transform-grande: translateY(-5px) translateX(5px);

    --sombras: 5px 5px 10px;
    --borda-pequena: 5px;
    --bordas-redondas: 10px;
    --borda-grande: 20px;
    --bordas-circulo: 50%;

    --padding-medio: 10px;
    --padding-grande: 20px;
    --padding-botao: 10px 16px;

    --gap-pequeno: 10px;
    --gap-medio: 20px;
    --gap-grande: 30px;

    --transition-transf: transform .5s;
    --transition-back-box: background-color .6s, box-shadow .6s;
    --transition: background-color .4s, box-shadow .4s, transform .4s;

    --border-default: 2px solid var(--cor-borda);
    --border-geral: 2px solid var(--cor-geral);
    --border-cursos: 2px solid var(--cor-cursos);
    --border-certificados: 2px solid var(--cor-certificados);
    --border-pagamentos: 2px solid var(--cor-pagamentos);
    --border-suporte: 2px solid var(--cor-suporte);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    font-family: inherit;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

li{
    list-style: none;
}

h1, h2, h3{
    font-family: var(--font-titulo);
}

h1{
    font-size: 2rem;
    font-weight: 700;
}

h2{
    font-size: 2rem;
    font-weight: 600;
}

h3{
    font-size: 1.5rem;
    font-weight: 500;
}

p{
    color: var(--cor-texto);
    line-height: 1.7;
}

p, a{
    font-size: 1.1rem;
    font-weight: 500;
}

html {
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    background-color: var(--cor-fundo);
    font-family: var(--font-texto);
    line-height: 1.6;
}

/* Inicio do Menu*/
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 550px;
    padding: var(--padding-grande);
    gap: var(--gap-grande);
    background: radial-gradient(circle at bottom left, rgba(255,255,255,.22), transparent 10%),linear-gradient(45deg, #7fb4f1 0%, #3B82F6 35%, #2563EB 65%, #1E3A8A 100%);
    color: var(--cor-texto-menu);
    line-height: 1.2;
    border-bottom: 3px solid var(--cor-borda-hover);
}

.hero a{
    color: var(--cor-texto-menu);
    display: inline-block;
}

.hero p {
    color: var(--cor-texto-menu);
}

header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1200px;
    gap: var(--gap-medio);
}

.topo-logo{
    flex: 1;
    display: flex;
    gap: var(--gap-pequeno);
}

.menu-link{
    flex: 2;
}

.menu-link a{
    font-size: 1.2rem;
    font-weight: 600;
    padding: 5px;
    transition:  var(--transition-transf);
}

.menu-link ul{
    display: flex;
    justify-content: center;
    gap: var(--gap-grande);
}

.menu-link a:hover{
    transform: var(--transform-pequeno);
    padding-bottom: 2px;
    border-bottom: var(--border-default);
}

.menu-link a:focus-visible{
    transform: var(--transform-pequeno);
    border-radius: var(--borda-pequena);
    outline: var(--outline-focus-menu);
    outline-offset: 6px;
}

.home {
    flex: 1;
    display: flex;
    justify-content: center;
}

.home a{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: var(--sombras) #ffffff13;
    padding: var(--padding-botao);
    border-radius: var(--bordas-redondas);
    gap: var(--gap-pequeno);
    background-color: var(--cor-primaria);
    transition: background-color .4s, box-shadow .4s, transform .8s;
    width: 80%;
    max-width: 250px;
    font-weight: 600;
}

.home a:hover{
    transform: var(--transform-pequeno-post);
    box-shadow: none;
    background-color: var(--cor-transparente);
}

.home a:focus-visible{
    background-color: var(--cor-transparente);
    box-shadow: none;
    border-radius: var(--bordas-redondas);
    outline: var(--outline-focus-menu);
    outline-offset: 6px;
    transform: var(--transform-pequeno-post);
}

.home a > img{
    max-width: 25px;
}

.topo-menu{
    display: flex;
    align-items: center;
}

.topo-texto{
    display: flex;
    flex-direction: column;
    gap: var(--gap-pequeno);
    max-width: 400px;
}

 .topo-texto h2{
    font-size: 3rem;
    font-weight: 800;
 }

.topo-texto span{
    text-align: center;
    width: 60px;
    padding: var(--padding-medio);
    border-radius: var(--bordas-redondas);
    font-size: 1.1rem;
    font-weight: 800;
    background-color: #345bf867;
    box-shadow: var(--sombras) #ffffff10;
    transition: transform 1s, box-shadow .4s, color 1.1s, background-color 1.1s;
}

.topo-texto span:hover{
    transform: rotate(360deg) translateX(100px);
    box-shadow: none;
    color: var(--cor-transparente);
    background-color: var(--cor-transparente);
}

.topo-imagem{
    max-width: 850px;
}
/* Fim do Menu*/

/* Inicio do Conteudo*/
.container{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--gap-grande);
    text-align: center;
}

.faq h1{
    color: var(--cor-titulo);
}

.faq p{
    font-size: 1.25rem;
}
.categoria-info h3{
    font-weight: 600;
}

.categoria-info p{
    font-size: 1.15rem;
}

.cat-per{
    margin: auto;
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0px;
    gap: var(--gap-medio);
}

.cat-per input[type="radio"]{
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
    pointer-events: none;
}

#geral:focus-visible ~ .categoria .cat-geral .item, #cursos:focus-visible ~ .categoria .cat-curso .item, #certificados:focus-visible ~ .categoria .cat-certificado .item, #pagamentos:focus-visible ~ .categoria .cat-pagamento .item, #suporte:focus-visible ~ .categoria .cat-suporte .item{
    outline-offset: 20px;
    border-radius: 5px;
}

#geral:focus-visible ~ .categoria .cat-geral .item{
    outline: var(--border-geral);
}

#cursos:focus-visible ~ .categoria .cat-curso .item{
    outline: var(--border-cursos);
}

#certificados:focus-visible ~ .categoria .cat-certificado .item{
    outline:  var(--border-certificados);
}

#pagamentos:focus-visible ~ .categoria .cat-pagamento .item{
    outline: var(--border-pagamentos);
}

#suporte:focus-visible ~ .categoria .cat-suporte .item{
    outline: var(--border-suporte);
}

.pergunta > div{
    display: none;
}

#geral:checked ~ .pergunta #content-geral, #cursos:checked ~ .pergunta #content-cursos,#certificados:checked ~ .pergunta #content-certificados, #pagamentos:checked ~ .pergunta #content-pagamentos, #suporte:checked ~ .pergunta #content-suporte {
    display: block;
}

#geral:checked ~ .pergunta #content-geral, #cursos:checked ~ .pergunta #content-cursos, #certificados:checked ~ .pergunta #content-certificados, #pagamentos:checked ~ .pergunta #content-pagamentos, #suporte:checked ~ .pergunta #content-suporte {
    display: block;
}

.categoria{
    flex: 2;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: var(--gap-medio);
    padding: var(--padding-grande);
}

.categoria-item{
    max-width: 600px;
    background-color: var(--cor-card);
    box-shadow: var(--sombras) #0000001e;
    border-radius: var(--bordas-redondas);
    padding: var(--padding-medio);
    border: var(--border-default);
    transition: transform .4s, border .4s, box-shadow .4s, color .5s;
}

.categoria-item:hover{
    transform: var(--transform-grande);
}

.item{
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: var(--gap-pequeno);
}

.categoria-icone{
    border-radius: var(--bordas-circulo);
    padding: var(--padding-grande);
}

.categoria-geral{
    background-color: var(--cor-geral-claro);
}

.cat-geral:hover{
    color: var(--cor-geral);
    border: var(--border-geral);
    box-shadow: var(--sombras) var(--cor-sombra-geral);
}

.categoria-curso{
    background-color: var(--cor-cursos-claro);
}

.cat-curso:hover{
    color: var(--cor-cursos);
    border: var(--border-cursos);
    box-shadow: var(--sombras) var(--cor-sombra-cursos);
}

.categoria-certificado{
    background-color: var(--cor-certificados-claro);
}

.cat-certificado:hover{
    color: var(--cor-certificados);
    border: var(--border-certificados);
    box-shadow: var(--sombras) var(--cor-sombra-certificados);
}

.categoria-pagamento{
    background-color: var(--cor-pagamentos-claro);
}

.cat-pagamento:hover{
    color: var(--cor-pagamentos);
    border: var(--border-pagamentos);
    box-shadow: var(--sombras) var(--cor-sombra-pagamentos);
}

.categoria-suporte{
    background-color: var(--cor-suporte-claro);
}

.cat-suporte:hover{
    color: var(--cor-suporte);
    border: var(--border-suporte);
    box-shadow: var(--sombras) var(--cor-sombra-suporte);
}

.categoria-icone img{
    margin: auto;
    width: 60px;
}

#geral:checked ~ .categoria .cat-geral .categoria-icone,
#cursos:checked ~ .categoria .cat-curso .categoria-icone,
#certificados:checked ~ .categoria .cat-certificado .categoria-icone,
#pagamentos:checked ~ .categoria .cat-pagamento .categoria-icone,
#suporte:checked ~ .categoria .cat-suporte .categoria-icone{
    background-color: var(--cor-card);
    
}

#geral:checked ~ .categoria .cat-geral,
#cursos:checked ~ .categoria .cat-curso,
#certificados:checked ~ .categoria .cat-certificado,
#pagamentos:checked ~ .categoria .cat-pagamento,
#suporte:checked ~ .categoria .cat-suporte{
    transition: var(--transition-back-box);
    transform: var(--transform-grande);
}

#geral:checked ~ .categoria .cat-geral {
    border: var(--border-geral);
    background-color: var(--cor-geral-claro);
    box-shadow: var(--sombras) var(--cor-sombra-geral);
    color: var(--cor-geral);
}

#cursos:checked ~ .categoria .cat-curso{
    border: var(--border-cursos);
    color: var(--cor-cursos);
    background-color: var(--cor-cursos-claro);
    box-shadow: var(--sombras) var(--cor-sombra-cursos);
}

#certificados:checked ~ .categoria .cat-certificado{
    border: var(--border-certificados);
    color: var(--cor-certificados);
    background-color: var(--cor-certificados-claro);
    box-shadow: var(--sombras) var(--cor-sombra-certificados);
}

#pagamentos:checked ~ .categoria .cat-pagamento{
    border: var(--border-pagamentos);
    color: var(--cor-pagamentos);
    background-color: var(--cor-pagamentos-claro);
    box-shadow: var(--sombras) var(--cor-sombra-pagamentos);
}

#suporte:checked ~ .categoria .cat-suporte{
    border: var(--border-suporte);
    color: var(--cor-suporte);
    background-color: var(--cor-suporte-claro);
    box-shadow: var(--sombras) var(--cor-sombra-suporte);
}

.pergunta details{
    text-align: left;
    width: 600px;
    margin: 20px;
    background-color: var(--cor-card);
    padding: var(--padding-medio);
    border: var(--border-default);
    box-shadow: var(--sombras) #0000001e;
    border-radius: var(--bordas-redondas);
    transition: transform .4s, border .4s, box-shadow .4s;
}

.pergunta details:hover{
    transform: var(--transform-details);
}

summary{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 900;
    border-bottom: 1px solid var(--cor-borda);
}

.per-geral summary:focus-visible, .per-cursos summary:focus-visible, .per-certificados summary:focus-visible, .per-pagamentos summary:focus-visible, .per-suporte summary:focus-visible{
    outline-offset: 1px;
    border-radius: 5px;
}

.per-geral summary:focus-visible{
    outline: var(--border-geral);
}

.per-cursos summary:focus-visible{
    outline: var(--border-cursos);
}

.per-certificados summary:focus-visible{
    outline:  var(--border-certificados);
}

.per-pagamentos summary:focus-visible{
    outline: var(--border-pagamentos);
}

.per-suporte summary:focus-visible{
    outline: var(--border-suporte);
}

details p{
    font-size: 1.15rem;
}

.per-geral details:hover{
    border: var(--border-cursos);
    box-shadow: var(--sombras) var(--cor-sombra-geral);
}

.per-geral details[open]{
    border: var(--border-cursos);
    box-shadow: var(--sombras) var(--cor-sombra-geral);
}

.per-cursos details:hover{
    border: var(--border-cursos);
    box-shadow: var(--sombras) var(--cor-sombra-cursos);
}

.per-cursos details[open]{
    border: var(--border-cursos);
    box-shadow: var(--sombras) var(--cor-sombra-cursos);
}


.per-certificados details:hover{
    border: var(--border-certificados);
    box-shadow: var(--sombras) var(--cor-sombra-certificados);
}

.per-certificados details[open]{
    border: var(--border-certificados);
    box-shadow: var(--sombras) var(--cor-sombra-certificados);
}

.per-pagamentos details:hover{
    border: var(--border-pagamentos);
    box-shadow: var(--sombras) var(--cor-sombra-pagamentos);
}

.per-pagamentos details[open]{
    border: var(--border-pagamentos);
    box-shadow: var(--sombras) var(--cor-sombra-pagamentos);
}

.per-suporte details:hover{
    border: var(--border-suporte);
    box-shadow: var(--sombras) var(--cor-sombra-suporte);
}

.per-suporte details[open]{
    border: var(--border-suporte);
    box-shadow: var(--sombras) var(--cor-sombra-suporte);
}

summary::-webkit-details-marker {
    display: none;
}

.seta{
    transition: var(--transition-transf);
    color: var(--cor-primaria);
    font-size: 1.6rem;
    font-weight: 400;
}

details[open] .seta {
    transform: rotate(45deg); 
    color: red;
}
/* Fim do Conteudo*/

/* Inicio do Contato*/
.suporte{
    width: 80%;
    max-width: 1200px;
    min-height: 120px;
    display: flex;
    align-items: center;
    background-color: var(--cor-categoria-ativa);
    padding: var(--padding-medio);
    margin-bottom: 30px;
    border-radius: var(--borda-grande);
}

.suporte-texto{
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: var(--gap-medio);
}

.suporte-icone{
    background-color: var(--cor-card);
    padding: var(--padding-medio);
    border-radius: var(--bordas-circulo);
}

.botao-suporte{
    flex: 1;
    display: flex;
    justify-content: center;
}

.botao-suporte a{
    max-width: 300px;
    padding: var(--padding-botao);
    border-radius: var(--bordas-redondas);
    background-color: var(--cor-primaria);
    color: var(--cor-texto-menu);
    box-shadow: var(--sombras) #0000001f;
    display: flex;
    align-items: center;
    gap: var(--gap-pequeno);
    font-weight: 600;
    transition: var(--transition);
}

.botao-suporte a:hover{
    box-shadow: none;
    background-color: var(--cor-primaria-hover);
    transform: var(--transform-pequeno-post);
}

.botao-suporte a:focus-visible{
    background-color: var(--cor-secundaria-hover);
    border-radius: var(--bordas-redondas);
    outline: var(--outline-focus);
    outline-offset: 6px;
    transform: var(--transform-pequeno-post);
}

.botao-suporte img{
    max-width: 30px;
}
/* Fim do Contato*/

/* Inicio do Rodape*/
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: var(--gap-medio);
    min-height: 350px;
    background-color: var(--cor-footer);
    color: var(--cor-texto-footer);
    border-top: 3px solid var(--cor-borda-hover);
}

footer p{
    color: var(--cor-texto-footer);
}

footer a{
    display: inline-block;
    transition: transform .4s, color .4s;
    color: var(--cor-texto-footer);
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor-card);
    transform: var(--transform-link);
}

footer a:focus-visible{
    text-decoration: underline;
    border-radius: var(--borda-pequena);
    outline: var(--outline-focus);
    color: var(--cor-card);
    outline-offset: 5px;
    transform: var(--transform-link);
}

.rodape-conteudo{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    padding: var(--padding-grande);
    width:90%;
    max-width: 1200px;
    border-bottom: 1px solid var(--cor-borda);
}

.rodape-logo{
    padding: 10px;
    max-width: 280px;
}

.logo{
    display: flex;
    gap: var(--gap-pequeno);
    margin-bottom: 10px;
}

.navegacao li, .instit li{
    margin: 5px 0px;
}

.redes-sociais ul{
    display: flex;
    padding: var(--padding-medio);
    gap: var(--gap-medio);
}

.icon{
    display: inline-block;
    transition: var(--transition-transf);
    border: var(--border-default);
    border-radius: var(--bordas-circulo);
    padding: var(--padding-medio);
    cursor: pointer;
}

.icon:hover{
    transform: var(--transform-botao);
    border: 2px solid #FFF;
}

.icon img{
    max-width: 30px;
}

.icon:focus-visible{
    border-radius: var(--bordas-circulo);
    outline: var(--outline-focus);
    outline-offset: 6px;
    transform: var(--transform-botao);
}

.rodape-centro{
    text-align: center;
    padding: var(--padding-medio);
}

.rodape-centro a{
    text-decoration: underline;
}

.rodape-centro a:hover{
    transform: none;
    text-decoration: none;
}

.rodape-centro a:focus-visible{
    text-decoration: underline;
    transform: none;
    outline-offset: 2px;
}
/* Fim do Rodape*/